body {
  width: 98vw;
  height: 99vh;
  background-image: linear-gradient(
    225deg,
    #612d95 0%,
    #9225ad 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

h1 {
  font-family: "Roboto";
  font-weight: bold;
  color: white;
  margin: 10px 0px 0px 30px;
  font-size: 40px;
  text-align: center;
}
.sketch-body {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: space-evenly;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px 40px 20px 40px;
  border-radius: 30px;
  width: fit-content;
}

.sketch-container {
  border: solid 2px lightgray;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.square {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.slider {
  width: 100px;
  height: 25px;
  background: #d3d3d3;
  color: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.options {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
}

ul {
  list-style: none;
  color: white;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  gap: 100px;
  margin-right: 40px;
}

.description-container {
  width: 40%;
  font-family: "Roboto";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 75px;
  font-weight: 900;
  margin: 0px;
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  margin-left: 20px;
  font-weight: bold;
}

.colors {
  width: 256px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.colorSquare {
  box-sizing: border-box;
  border: solid 1px black;
  width: 30px;
  height: 50%;
}
