.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.sketch-container {
  background-color: #add8e6;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.square {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}

.test {
  border: 1px solid black;
  background-color: yellow;
  width: 100px;
  height: 100px;
}
