body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.sketch-container {
  box-sizing: border-box;
  background-color: #add8e6;
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.square {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}

.test {
  border: 1px solid black;
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.options {
  display: flex;
  width: 100%;
}
